<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.afro.mapper.AccountMapper">

    <resultMap type="ink.afro.entity.Account" id="AccountMap">
        <result property="accountId" column="account_id" jdbcType="INTEGER"/>
        <result property="accountName" column="account_name" jdbcType="INTEGER"/>
        <result property="money" column="money" jdbcType="VARCHAR"/>
    </resultMap>

    <!--新增记录-->
    <insert id="insert" keyProperty="accountId" useGeneratedKeys="true">
        insert into account(account_name, money)
        values (#{accountName}, #{money})
    </insert>

    <!--批量新增记录-->
    <insert id="insertBatch" keyProperty="accountId" useGeneratedKeys="true">
        insert into account(account_name, money)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.accountName}, #{entity.money})
        </foreach>
    </insert>

    <!--批量新增或更新记录-->
    <insert id="insertOrUpdateBatch" keyProperty="accountId" useGeneratedKeys="true">
        insert into account(account_name, money)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.accountName}, #{entity.money})
        </foreach>
        on duplicate key update
        account_name = values(account_name),
        money = values(money)
    </insert>

    <!--通过主键删除记录-->
    <delete id="deleteById">
        delete
        from account
        where account_id = #{accountId}
    </delete>

    <!--通过主键修改记录-->
    <update id="update">
        update account
        <set>
            <if test="accountName != null">
                account_name = #{accountName},
            </if>
            <if test="money != null and money != ''">
                money = #{money},
            </if>
        </set>
        where account_id = #{accountId}
    </update>

    <!--通过主键查询单个记录-->
    <select id="queryById" resultMap="AccountMap">
        select account_id,
               account_name,
               money
        from account
        where account_id = #{accountId}
    </select>

    <!--通过accountName查询单个记录-->
    <select id="queryByName" resultMap="AccountMap">
        select account_id,
               account_name,
               money
        from account
        where account_name = #{accountName}
    </select>

    <!--查询所有记录-->
    <select id="queryAll" resultMap="AccountMap">
        select account_id,
               account_name,
               money
        from account
    </select>

    <!--查询指定行记录-->
    <select id="queryAllByLimit" resultMap="AccountMap">
        select
        account_id, account_name, money
        from account
        <where>
            <if test="account.accountId != null">
                and account_id = #{account.accountId}
            </if>
            <if test="account.accountName != null">
                and account_name = #{account.accountName}
            </if>
            <if test="account.money != null and account.money != ''">
                and money = #{account.money}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from account
        <where>
            <if test="accountId != null">
                and account_id = #{accountId}
            </if>
            <if test="accountName != null">
                and account_name = #{accountName}
            </if>
            <if test="money != null and money != ''">
                and money = #{money}
            </if>
        </where>
    </select>
</mapper>

