<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.afro.mapper.SysUserRoleMapper">

    <resultMap type="ink.afro.entity.SysUserRole" id="SysUserRoleMap">
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--批量新增记录-->
    <insert id="insertBatch">
        insert into sys_user_role(user_id, role_id)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userId}, #{entity.roleId})
        </foreach>
    </insert>

    <!--批量删除记录-->
    <delete id="deleteBatch">
        delete from sys_user_role
        where
        <foreach collection="entities" item="entity" separator="or">
            (user_id = #{entity.userId} and role_id = #{entity.roleId} )
        </foreach>
    </delete>

    <!--清空表-->
    <delete id="truncateData">
        truncate table sys_user_role
    </delete>

    <!--查询所有记录-->
    <select id="queryAll" resultMap="SysUserRoleMap">
        select user_id,
               role_id
        from sys_user_role
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from sys_user_role
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
        </where>
    </select>

    <!--根据角色ID查询-->
    <select id="queryByUserId" resultMap="SysUserRoleMap">
        select user_id, role_id
        from sys_user_role
        where user_id = #{userId}
    </select>
</mapper>

